<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nilin.favoritealbums">

    <!-- 必选-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> &lt;!&ndash; 获取网络状态 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.INTERNET" /> &lt;!&ndash; 网络通信&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />  &lt;!&ndash; 获取设备信息 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> &lt;!&ndash; 获取MAC地址&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> &lt;!&ndash; 读写sdcard，storage等等 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" /> &lt;!&ndash; 允许程序录制音频 &ndash;&gt;-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".PlayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->

        <service
            android:name=".PlayService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />

        <activity
            android:name=".UpdataLogActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme" />

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="com.nilin.favoritealbums.updata"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/provider_paths" />-->
        <!--</provider>-->

        <!--&lt;!&ndash; 必选&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="PGYER_APPID"-->
            <!--android:value="5c408b850d5b3d31e61a2256e447d24f" >-->
        <!--</meta-data>-->

    </application>

</manifest>